 .expense-req-form .page {
	 --qaf-grid-button-bg-color: var(--ButtonBackGroundColor);
	 --qaf-grid-button-border-radius: 4px;
}
 .expense-req-form .qaf-btn-primary {
	 margin-left: 8px;
	 background-color: var(--qaf-grid-button-bg-color, #313cbf);
	 border: none;
	 color: var(--qaf-grid-button-color, #fff);
	 padding: var(--qaf-grid-button-color, 4px 12px 4px 12px);
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: var(--qaf-grid-button-font-size, 12px);
	 border-radius: var(--qaf-grid-button-border-radius, 24px);
}
 .expense-req-form .expense-container-fluid {
	 padding: 0px 30px 30px 30px;
}
 .expense-req-form .pg-content {
	 padding-top: 0px !important;
}
 .expense-req-form .page-content {
	 padding: 0;
}
 .expense-req-form .page {
	 display: flex;
	 flex-direction: row;
}
 .expense-req-form .page-nav .expense-app-links {
	 position: fixed;
	 height: 100%;
	 padding: 8px 16px;
	 background-color: #000;
	 color: white;
	 display: none;
}
 .expense-req-form #breadcrum {
	 margin-left: 3.5%;
}
 .expense-req-form .col-md-offset-1 {
	 margin-left: 4%;
}
 .expense-req-form .expense-grid .qaf-btn-primary.nav-btns {
	 font-size: 14px;
	 border-radius: 4px;
	 padding-bottom: 4px;
	 padding-left: 6px;
	 padding-right: 8px;
}
 .expense-req-form .expense-top {
	 transform: translate(0, 8px) !important;
}
 .expense-top, .expense-req-form .expense-action, .expense-req-form .expense-nav {
	 display: flex;
	 flex-direction: row;
	 align-items: baseline;
}
 .expense-top {
	 margin-top: 0px;
	 justify-content: space-between;
}
.expense-action {
	 margin-left: auto;
}
  .expense-current-month, .expense-req-form .expense-current-month-report {
	 margin-left: 10px;
	 font-size: 16px;
	 font-weight: 600;
	 min-width: 100px;
	 text-align: center;
}
 .expense-req-form .expense-app-links-dt {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: space-between;
}
 .expense-req-form .expense-app-links-dt a.dashboard-App {
	 text-decoration: none;
}
 .expense-req-form a.dashboard-App {
	 text-decoration: none;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 color: white;
	 font-size: 14px;
}
 .expense-req-form a.dashboard-App .fa {
	 font-size: 28px;
}
 .expense-table .common-page-title {
	 font-size: 18px;
	 font-family: inherit;
	 line-height: 1.1;
	 color: inherit;
	 padding: 0;
	 margin-bottom: 0;
}
 .expense-form-right .date-nevigator {
	 width: auto;
	 display: flex;
	 justify-content: flex-end;
	 color: #fff;
	 margin-bottom: 5px;
}
 .expense-req-form .button {
	 cursor: pointer;
	 border-radius: 4px;
	 border: none;
	 margin: 0px 5px;
}
.expense-form-right .currentDate {
	 color: #000;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 0px 20px;
}
.expense-form-right .next {
	margin-right: 10px;
}
 .expense-req-form .form {
	 justify-content: center;
	 align-items: center;
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.5);
	 display: none;
	 z-index: 1052;
}
.no-record {
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
  }
  
 .expense-form-right .common-page-title {
	 font-size: 18px;
	 font-family: inherit;
	 color: inherit;
}
 .expense-req-form .page-main {
	 background: #8c3838;
	 width: 100%;
}
 .expense-req-form .main-container {
	 width: 90%;
	 background: #fff;
	 float: right;
}
 .expense-req-form .form-container {
	 padding: 20px;
}
 .expense-req-form .section-container {
	 width: 100%;
	 margin: 0px;
	 padding: 20px;
	 border-radius: 5px;
	/* box-shadow: 1px 2px 5px;
	 */
	 border: 1px solid #e4dede;
	 margin-bottom: 20px;
}
 .expense-req-form .qaf-form-group {
	 margin-bottom: 10px;
	 width: 50%;
}
 .expense-req-form .legder-table-group {
	 width: 100%;
}
 .expense-req-form .fs-label {
	 display: inline-block;
	 margin-bottom: 5px;
	 font-size: 13px;
	 font-family: Poppins;
	 color: #333;
	 transform: translate(0, 5px);
	 font-weight: 400;
}
 .expense-req-form .qaf-form-group span.required {
	 display: inline;
	 vertical-align: bottom;
	 color: red;
}
 .expense-req-form .fs-input {
	 width: 100%;
	 padding: 8px 10px;
	 border: 1px solid #ccc;
	 border-radius: 5px;
	 box-sizing: border-box;
	 font-size: 13px;
	 outline: none;
	 color: #333;
}
 .expense-req-form .fs-select {
	 margin-top: 3px;
}
 .expense-req-form .tablecontainer {
	 display: block;
	 justify-content: flex-start;
	 width: 100%;
	 border: 1px solid #e4dede;
}
 .expense-req-form .add-btn {
	 background-color: #ff7a59;
	 color: #fff;
	 padding: 6px 12px;
	 border-radius: 5px;
	 cursor: pointer;
	 border: none;
	 margin-bottom: 5px;
}
 .expense-req-form .qaf-table {
	 font-size: 12px;
	 width: 99%;
	/* margin: 2px auto;
	 */
	 border-collapse: collapse;
	 background-color: #fff;
	 overflow: hidden;
	 font-weight: 400;
	 margin: 10px 0px 10px 10px;
}
 .expense-req-form .qaf-tr, .expense-req-form .qaf-td {
	 border: 1px solid #e4dede;
}
 .expense-req-form .table > tbody > tr > td, .expense-req-form .table > tbody > tr > th, .expense-req-form .table > tfoot > tr > td, .expense-req-form .table > tfoot > tr > th, .expense-req-form .table > thead > tr > td, .expense-req-form .table > thead > tr > th {
	 vertical-align: middle;
	 border: 1px solid #e4dede;
}
 .expense-req-form .qaf-th {
	 padding: 7px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 70px;
	 border: 1px solid #e4dede;
}
 .expense-req-form .qaf-td {
	 height: 40px;
	 padding: 0px 7px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 135px;
	 vertical-align: top;
}
 .expense-req-form .qaf-th {
	 color: #333;
	 font-weight: 600;
}
 .expense-req-form .table-container {
	 overflow: scroll;
}
 .expense-req-form .table-container::-webkit-scrollbar {
	 height: 20px;
}
 .expense-req-form .qaf-tr:nth-child(even) {
	 background-color: rgba(0, 0, 0, 0);
}
 .expense-req-form .tablecontainer {
	 overflow-x: auto;
	/* Add this line */
	 max-width: 100%;
	/* Add this line to limit the width */
	 max-height: 78vh;
}
 .expense-req-form .date-input-expense {
	 display: flex;
	 align-items: center;
	 width: 100%;
}
 .expense-req-form .row-add {
	 color: #009ce7;
	 border: none;
	 background: #fff;
	 cursor: pointer;
}
 .expense-req-form .cross-button {
	 padding: 0px 10px 17px 0px;
	 height: 17px;
	 width: 17px;
	 margin: 0px 10px;
	 border: 1px solid #009ce7;
}
 .expense-req-form .cross-button i {
	 padding: 0px 3px;
}
 .expense-req-form .qaf-table .fs-input {
	 margin-top: 5px;
	 font-weight: 400;
}
 .expense-req-form .header-buttons {
	 background-color: #f3f3f3;
	 padding: 10px 5px;
	 border-bottom: 1px solid #000;
	 width: 100%;
	 box-sizing: border-box;
	 display: flex;
	 justify-content: start;
}
 .expense-req-form .btn-primary {
	/* background-color: #ff7a59;
	 color: #fff;
	 */
	 border: none;
	 padding: 6px 12px;
	 border-radius: 4px;
	 cursor: pointer;
	 font-size: 12px;
	 margin-right: 10px;
}
 .expense-req-form .form-container {
	 max-height: 700px;
	 overflow-y: auto;
	 border: none;
}
 .expense-req-form .form-container::-webkit-scrollbar {
	 width: 8px;
	/* Set the width of the scrollbar */
	 border-radius: 5px;
}
 .expense-req-form .form-container::-webkit-scrollbar-track {
	 background: #f1f1f1;
	/* Color of the scrollbar track */
}
 .expense-req-form .form-container::-webkit-scrollbar-thumb {
	 background: #888;
	/* Color of the scrollbar handle */
	 border-radius: 5px;
}
 .expense-req-form .tablecontainer::-webkit-scrollbar {
	 height: 8px;
	/* Set the height of the scrollbar */
}
 .expense-req-form .tablecontainer::-webkit-scrollbar-track {
	 background: #f1f1f1;
	/* Color of the scrollbar track */
}
 .expense-req-form .tablecontainer::-webkit-scrollbar-thumb {
	 background: #888;
	/* Color of the scrollbar handle */
	 border-radius: 8px;
	/* Set border radius */
}
 .expense-req-form .qaf-form-group span.error-message {
	 padding: 3px 0px;
	 margin: 0;
	 color: #f00;
	 font-size: 13px;
}
 .expense-req-form .pg-content {
	 padding-top: 0 !important;
}
 .expense-req-form .row-action {
	 vertical-align: middle;
}
 .expense-req-form .file {
	 border: none;
	 padding: 0px 10px;
}
 .expense-req-form .tableinput {
	 width: auto;
}
 .expense-req-form .remark {
	 width: 250px;
}
 .expense-req-form .expense-detail-heading {
	 margin-bottom: 10px;
}
 .expense-req-form select {
	 -webkit-appearance: none;
	 appearance: none;
}
 .expense-req-form .mode_of_payment {
	 -webkit-appearance: none;
	 appearance: none;
	 appearance: none;
	 background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 7px center;
	 background-size: 11px;
	 width: 90%;
}
 .expense-req-form .paymentmode-Name-cell {
	 min-width: 188px;
}
 .expense-req-form .amountcell {
	 max-width: 170px;
}
 .expense-req-form .amount {
	 width: 100%;
}
 .expense-req-form .arrow {
	 background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 7px center;
	 background-size: 11px;
}
 .expense-req-form input[type="date"]:required:invalid::-webkit-datetime-edit {
	 color: transparent;
}
 .expense-req-form input[type="date"]:focus::-webkit-datetime-edit {
	 color: black !important;
}
 .expense-req-form .ledgerName {
	 width: 100%;
}
 .expense-req-form .ledger-Name-cell {
	 min-width: 220px;
}
.expense-form-right .right-conatiner {
	 display: flex;
	 justify-content: flex-end;
	 width: auto;
}
 .expense-req-form select option[value=""] {
	 display: none;
}
 .expense-req-form .custom-file-upload {
	 border: 1px solid #555;
	 display: inline-block;
	 padding: 6px 12px;
	 cursor: pointer;
	 margin-top: 15px;
	 background: #ececec;
	 color: #555;
	 font-weight: 500;
}
 .expense-req-form .custom-file-upload-curior {
	 border: 1px solid #555;
	 display: inline-block;
	 padding: 6px 12px;
	 cursor: pointer;
	 background: #ececec;
	 color: #555;
	 font-weight: 500;
}
 .expense-req-form input[type="file"] {
	 display: none;
}
 .expense-req-form .inner-attachment-display {
	 display: flex;
	 justify-content: space-between;
	 width: max-content;
}
 .expense-req-form .attach-bill {
	 margin-right: 10px;
}
 .expense-req-form .page-disabled {
	 background: #e8e5e5 78;
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 z-index: 999;
}
 .expense-req-form .qaf-loader {
	 width: 48px;
	 height: 48px;
	 border: 5px solid #fff;
	 border-bottom-color: #ff3d00;
	 border-radius: 50%;
	 display: inline-block;
	 box-sizing: border-box;
	 animation: rotation 1s linear infinite;
}
 @keyframes rotation {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 .expense-req-form .qaf-loader-div {
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 position: absolute;
	 left: 25%;
	 width: 100%;
	 bottom: 50vh;
}
 .expense-req-form #no-grid {
	 box-shadow: 1px 2px 5px;
	 margin-bottom: 40px;
	 margin-top: 20px;
	 text-align: center;
	 font-size: 16px;
}
 .expense-req-form .Courier-file-main {
	 display: flex;
	 align-items: baseline;
}
 .expense-req-form #CourierReceipt-name {
	 margin-left: 10px;
}
 .expense-req-form .date-input-courier {
	 display: flex;
	 align-items: center;
	 flex-direction: column;
	 width: 15%;
}
 .expense-req-form .clearDate-btn {
	 text-decoration: none;
	 color: #009ce7;
	 cursor: pointer;
}
 .expense-req-form .labelarea {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
}
 .expense-req-form input[type="date"]:required:invalid::-webkit-datetime-edit {
	 color: transparent;
}
 .expense-req-form input[type="date"]:focus::-webkit-datetime-edit {
	 color: black !important;
}
 .expense-req-form .row-add {
	 color: #009ce7;
	 border: none;
	 background: #fff;
	 cursor: pointer;
	 padding-top: 10px;
	 font-family: "poppins", sans-serif !important;
	 margin: 5px 10px;
}
 .expense-req-form .row-delete {
	 padding: 0;
	 width: 1px;
}
 .expense-req-form .row-delete-td {
	 vertical-align: middle;
	 border: 1px solid #fff;
	 background-color: #fff !important;
	 min-width: 15px;
}
 .expense-req-form .action-button-th {
	 background-color: #fff !important;
	 border: 1px solid #fff;
	 border-left: 1px solid #ccc;
	 min-width: 1px;
}
 .expense-req-form .action-delete-row {
	 visibility: hidden;
}
 .expense-req-form .qaf-td:hover .action-delete-row {
	 visibility: visible;
}
 .expense-req-form .expbtn {
	 margin-right: 0px;
}
 .expense-req-form .action-items button[data-action="EDIT"] {
	 display: none !important;
}
 .expense-req-form .select-form-group {
	 width: 18%;
}
 .expense-req-form .amount-form-group {
	 width: 13%;
}
 