.payroll-main {

}
 .payroll-main .payroll-header {
	 display: flex;
	 align-items: baseline;
}
 .payroll-main .select-emp-search {
	 width: 200px;
	 margin-right: 8px;
	 text-align: start;
	 padding: 0px 4px 0px 6px;
	 border: 1px solid gray;
	 border-radius: 4px;
	 font-size: 14px;
	 height: 30px;
	 outline: none;
}
 .payroll-main .payroll-details {
	 margin: 0px 20px 20px 20px;
}
 .payroll-main .common-page-title {
	 font-size: 18px;
	 font-family: inherit;
	 line-height: 1.1;
	 color: inherit;
	 padding: 0;
}
 .payroll-main .tablecontainer {
	 display: flex;
	 justify-content: flex-start;
	 width: 100%;
	 box-shadow: #333 0px 0px 3px 0px;
}
 .payroll-main .add-btn {
	 padding: 6px 12px;
	 border-radius: 5px;
	 margin-right: 4px;
	 cursor: pointer;
	 border: none;
}
 .payroll-main .qaf-tr, .payroll-main .qaf-td {
	 border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
 .payroll-main #table {
	 width: 100%;
}
 .payroll-main .qaf-tr-head {
	 position: sticky;
	 top: 0;
	 z-index: 999;
}
 .payroll-main .no-record {
	 width: 100vw;
	 text-align: center;
	 font-size: 14px;
	 font-weight: 500;
}
 .payroll-main .qaf-tr {
	 z-index: -1;
	 position: relative;
}
 .payroll-main .qaf-th {
	 height: 60px;
	 padding: 12px 10px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 130px;
}
 .payroll-main .qaf-td {
	 height: 40px;
	 padding: 0px 10px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 135px;
}
 .payroll-main .qaf-th {
	 background-color: #f2f2f2;
	 color: #000;
	 font-weight: 400;
}
 .payroll-main .table-container {
	 overflow: scroll;
	 box-shadow: #333 0px 0px 3px 0px;
}
 .payroll-main .table-container::-webkit-scrollbar {
	 height: 20px;
}
 .payroll-main .qaf-tr:nth-child(even) {
	 background-color: rgba(0, 0, 0, 0);
}
 .payroll-main .tablecontainer {
	 overflow-x: auto;
	/* Add this line */
	 max-width: 100%;
	/* Add this line to limit the width */
	 max-height: 78vh;
}
 @media screen and (max-width: 600px) {
	 .payroll-main .qaf-th, .payroll-main .qaf-td {
		 display: block;
		 width: 100%;
		 box-sizing: border-box;
	}
}
 .payroll-main .sorted-button {
	 padding: 0px 5px;
	 display: none;
}
 .payroll-main .qaf-th:hover .sorted-button {
	 display: inline;
	 cursor: pointer;
}
 .payroll-main .popup-container {
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.5);
	 z-index: 1011;
	 display: none;
}
 .payroll-main .form-main {
	 display: flex;
}
 .payroll-main .form-display-div, .payroll-main .bottom-heading {
	 width: 600px;
}
 .payroll-main .form-header-div {
	 display: flex;
}
 .payroll-main .popup-content {
	 background: #fff;
	 padding: 30px 20px 20px 20px;
	 border-radius: 8px;
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	 width: 100%;
	 height: 80vh;
	 overflow: scroll;
	 position: fixed;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 margin-top: 30px;
}
 .payroll-main .popup-content-es {
	 max-width: 600px;
}
 .payroll-main .control-delete-icon {
	 display: flex;
	 align-items: baseline;
}
 .payroll-main .control-delete-icon .fa {
	 color: red;
	 margin-left: 15px;
	 font-size: 18px;
	 cursor: pointer;
}
 .payroll-main .salary-component-content {
	 max-width: 1200px;
}
 .payroll-main .header-title-count {
	 display: flex;
	 align-items: baseline;
	 gap: 10px;
}
 .payroll-main .cost-display {
	 padding-left: 0 !important;
}
 .payroll-main .form-group {
	 margin-bottom: 0px;
}
 .payroll-main .edit-detail-label {
	 display: flex;
	 font-weight: 400;
	 margin-bottom: 0px;
	 font-size: 14px;
}
 .payroll-main .edit-detail-input {
	 width: 100%;
	 padding: 5px;
	 margin-bottom: 10px;
	 box-sizing: border-box;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 outline: none;
}
 .payroll-main .form-buttons {
	 display: flex;
	 justify-content: center;
}
 .payroll-main .submit {
	 height: 35px;
	 margin: 10px 0px 0px 0px;
	 border-radius: 5px;
	 padding: 6px 16px;
}
 .payroll-main .cancel:hover {
	 background-color: #f6f4f4;
	 color: #333;
}
 .payroll-main .nodata {
	 display: flex;
	 justify-content: center;
	 width: 100%;
	 font-size: 15px;
	 margin: 40px;
}
 .payroll-main .cancel {
	 background-color: #f6f4f4;
	 color: #333;
	 border: none;
	 height: 35px;
	 padding: 6px 12px;
	 margin: 10px 10px 0px 10px;
	 border-radius: 5px;
	 cursor: pointer;
	 transition: background-color 0.3s;
}
 .payroll-main .action-btn {
	 background-color: #fff;
	 color: var(--TopBarBackGroundColor);
	 border: none;
	 border-radius: 5px;
	 cursor: pointer;
	 transition: background-color 0.3s;
}
 .payroll-main .action-btn-menu {
	 display: flex;
}
 .payroll-main .action-buttons {
	 position: absolute;
	 top: -37px;
	 left: 45px;
	 background-color: #fff;
	 box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	 z-index: 1;
	 border-radius: 4px;
	 padding: 5px;
	 display: none;
	 width: 175px;
}
 .payroll-main .action-buttons button {
	 display: block;
	 width: 100%;
	 padding: 8px;
	 border: none;
	 background-color: transparent;
	 text-align: left;
	 cursor: pointer;
	 color: #2d2c2c;
}
 .payroll-main .action-buttons button:hover {
	 background-color: #f1f1f1;
}
 .payroll-main .header-title {
	 height: 30px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 margin-bottom: 5px;
}
 .payroll-main .popup-content-es {
	 height: auto;
	 padding: 20px 10px 15px 20px;
}
 .payroll-main .responsive-form {
	 display: flex;
	 flex-direction: column;
}
 .payroll-main .es-form-group {
	 width: 100%;
	 margin-bottom: 0px;
}
 .payroll-main .es-label {
	 margin-bottom: 8px;
	 margin: 0px 0px 10px 10px;
	 font-size: 14px;
	 font-weight: 350;
	 color: gray;
}
 .payroll-main .employee-type {
	 margin-left: 0px;
	 margin-bottom: 5px;
	 font-weight: 500;
	 color: #232221;
	 font-size: 15px;
}
 .payroll-main .es-input {
	 padding: 15px;
	 margin-bottom: 20px;
	 box-sizing: border-box;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 outline: none;
	 font-size: 16px;
}
 .payroll-main .es-input {
	 transform: scale(1.5);
}
 .payroll-main .select-emp {
	 padding: 8px;
	 margin-bottom: 4px;
	 box-sizing: border-box;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 outline: none;
	 font-size: 13px;
	 width: 100%;
}
 .payroll-main .header-name {
	 font-size: 18px;
}
 .payroll-main input[type="checkbox"] {
	 accent-color: #f66442;
}
 @supports (accent-color: #fff) {
	 .payroll-main .info {
		 display: none;
	}
}
 .payroll-main h2 {
	 font-weight: 400;
	 margin: 15px 10px 10px 0px;
	 color: #232221;
}
 .payroll-main .checkbox-group {
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	/* Align checkboxes and labels vertically */
	 margin-top: 10px;
	 margin-left: 6px;
}
 .payroll-main .checkbox-group label {
	 margin-right: 10px;
}
 .payroll-main .nextbtn {
	 width: 10%;
}
 .payroll-main .button {
	 padding: 6px 12px;
	 border-radius: 5px;
	 margin-right: 4px;
	 cursor: pointer;
	 width: 10%;
	 border: none;
}
 .payroll-main .es-buttos {
	 justify-content: flex-end;
	 padding-right: 0px;
}
 .payroll-main .sc-buttons {
	 margin-top: 10px;
	 justify-content: flex-end;
	 padding-right: 15px;
}
 .payroll-main .salary-component-content {
	 padding: 20px 0px 10px 0px;
}
 .payroll-main .two-column-form {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-between;
}
 .payroll-main .form-column {
	 width: 48%;
	/* Adjust as needed based on your design */
	 box-sizing: border-box;
	 padding-left: 20px;
	 padding-right: 50px;
}
 .payroll-main .sc-label {
	 display: block;
	 margin-bottom: 22px;
	 font-size: 14px;
	 font-weight: 400;
	 word-break: break-all;
}
 .payroll-main .salaryhead-control {
	 width: 100%;
	 display: flex;
	 align-items: end;
}
 .payroll-main .sc-input {
	 font-size: 12px;
	 width: 100%;
	 padding: 9px 10px;
	 margin-bottom: 25px;
	 box-sizing: border-box;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 outline: none;
}
 .payroll-main .form-heading {
	 font-size: 18px;
	 background-color: #000;
	 margin-bottom: 20px;
	 height: 50px;
}
 .payroll-main .cost {
	 font-size: 24px;
}
 .payroll-main .heading {
	 padding: 10px 0px 10px 20px;
}
 .payroll-main .bottom-heading {
	 background-color: #f6f4f4;
	 height: 70px;
	 margin-bottom: 0px;
}
 .payroll-main .cost-heading {
	 padding-top: 20px;
	 font-size: 18px;
}
 .payroll-main .action-cell {
	 padding: 5px 8px !important;
	 position: relative;
}
 .payroll-main .hide-y-scroll {
	 overflow-y: hidden !important;
}
 .payroll-main .top-bar {
	 height: auto;
	 padding: 16px;
	 margin-bottom: 16px;
	 width: 600px;
}
 .payroll-main .top-bar .top-heading1 {
	 font-size: 14px;
	 padding: 0;
}
 .payroll-main .top-bar .top-heading2 {
	 font-size: 14px;
	 padding: 0 0 0 20px;
}
 .payroll-main .tablecontainer::-webkit-scrollbar {
	 width: 10px;
	 height: 10px;
}
 .payroll-main .no-record {
	 width: 100%;
	 text-align: center;
	 font-size: 14px;
	 font-weight: 500;
	 transform: translate(0px, 6px);
}
 .payroll-main .payroll-header-button {
	 display: flex;
	 row-gap: 10px;
}
 .payroll-main .moredropdown-content {
	 display: none;
	 position: absolute;
	 background-color: #f1f1f1;
	 min-width: max-content;
	 overflow: auto;
	 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	 z-index: 1014;
}
 .payroll-main .moredropdown-content a {
	 color: black;
	 padding: 12px 16px;
	 text-decoration: none;
	 display: block;
}
 .payroll-main .moredropdown-content a:first-child {
	 padding-bottom: 0px;
}
 .payroll-main .left-conatiner {
	 width: 30%;
}
 .payroll-main .right-conatiner {
	 height: inherit;
	 width: 70%;
	 display: flex;
	 justify-content: end;
}
 .payroll-main .search-bar {
	 position: relative;
	 display: flex;
	 align-items: center;
	 width: 25%;
	 margin: 10px 5px;
	 color: gray;
}
 .payroll-main .search-input {
	 text-align: start;
	 width: 100%;
	 padding: 6px 30px;
	 border: 1px solid gray;
	 border-radius: 4px;
	 font-size: 14px;
	 height: 30px;
	 outline: none;
}
 .payroll-main .search-icon-payroll {
	 padding: 13px 10px 10px 0px;
	 color: gray;
	 min-width: 50px;
	 text-align: center;
	 -webkit-transform: translate(51px, -3px);
	 transform: translate(51px, -3px);
}
 .payroll-main .search-bar .fa-search {
	 padding-top: 15px;
	 padding-left: 10px;
	 color: gray;
	 margin-left: -60px;
}
 .payroll-main .search-bar #cancelSearch {
	 display: none;
	 color: gray;
}
 .payroll-main .cancel-icon {
	 right: 10px;
}
 .payroll-main .footer {
	 box-shadow: #333 0px 1px 3px 0px;
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
	 background-color: white;
	 padding: 10px 10px 10px 10px;
	 width: 100%;
}
 .payroll-main .page-size-select {
	 margin-right: 30px;
}
 .payroll-main .footer-label {
	 margin-right: 5px;
}
 .payroll-main .pageNum {
	 cursor: pointer;
	 padding: 8px;
}
 .payroll-main .page-range {
	 display: flex;
	 align-items: center;
}
 .payroll-main .range-label {
	 margin-right: 10px;
}
 .payroll-main .btn-previous[disabled], .payroll-main .btn-next[disabled] {
	 background-color: white;
	 color: #999;
	 cursor: not-allowed;
}
 .payroll-main .pegination-buttons button {
	 border: none;
	 cursor: pointer;
	 background-color: white;
}
 .payroll-main .footer-btn i {
	 color: black;
	 background: transparent;
}
 .payroll-main .pageNum {
	 outline: none;
	 width: 40px;
	 border: none;
	 padding: 4px 2px;
	 background-color: white;
	 border-bottom: 1.5px solid #333;
}
 .payroll-main .nextButton.disabled {
	 opacity: 0.5;
	/* For example, reduce opacity when disabled */
	 cursor: not-allowed;
	/* Show 'not-allowed' cursor when disabled */
}
 .payroll-main .nextButton.disabled:hover {
	 background-color: #ff7a59;
	 border: none;
}
 .payroll-main .action-head, .payroll-main .action-cell {
	 min-width: 1px;
}
 .payroll-main .import-file {
	 position: relative;
	 top: -15px;
	 z-index: 15;
	 display: none;
}
 .payroll-main .componentempname {
	 font-weight: 700;
	 margin: 0px 10px 10px 0px;
	 color: #232221;
	 margin-left: 17px;
	 font-size: 20px;
}
 .payroll-main .asapplicable {
	 position: relative;
	 top: -22px;
}
 .payroll-main .text-applicable {
	 width: 100%;
}
 .payroll-main .qaf-hrz-n-back-drop {
	 position: fixed;
	 left: 0;
	 right: 0;
	 top: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 background-color: #f9f9f9;
	 opacity: 0.8;
	 z-index: 1055;
}
 .payroll-main .qaf-hrz-n-r-pane {
	 position: fixed;
	 right: 0;
	 width: 0;
	 background-color: #fff;
	 height: 100%;
	 top: 0;
	 z-index: 1056;
	 box-shadow: 5px 10px 18px #888;
	 transition: width 0.5s;
	 overflow-y: auto;
	 display: none;
}
 .payroll-main .qaf-open {
	 width: 50%;
	 display: block;
}
 .payroll-main .hrz-n-r-action {
	 background-color: #f3f3f3;
	 padding: 10px 5px;
	 border-bottom: 1px solid #000;
}
 .payroll-main .qaf-hrz-n-r-form {
	 background-color: #fff;
}
 .payroll-main .payroll-search-close {
	 transform: translate(-7px, -6px) !important;
}
 .payroll-main .common-search-payroll {
	 transform: translate(0, 5px);
}
 @media only screen and (max-width: 1199px) {
	 .payroll-main .hrz-n-r-pane.open {
		 width: 100%;
	}
}
 .payroll-main .import-page-header {
	 padding: 10px 20px;
	 background-color: #f8f8f8;
	 border-bottom: 1px solid #d3d3d3;
	 display: flex;
	 flex-direction: row;
	 font-size: 14px;
}
 .payroll-main .import-page-close {
	 margin-left: auto;
	 position: relative;
	 width: 18px;
	 height: 18px;
}
 .payroll-main .import-page-close::before {
	 position: absolute;
	 left: 15px;
	 content: ' ';
	 height: 21px;
	 width: 1px;
	 background-color: #333;
	 transform: rotate(45deg);
}
 .payroll-main .import-page-close::after {
	 position: absolute;
	 left: 15px;
	 content: ' ';
	 height: 21px;
	 width: 1px;
	 background-color: #333;
	 transform: rotate(-45deg);
}
 .payroll-main .import-page-content {
	 padding: 10px 20px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 padding: 20px 30px;
}
 .payroll-main .upload-temp {
	 position: relative;
}
 .payroll-main .inputfile {
	 font-size: 100px;
	 position: absolute;
	 left: 0;
	 top: 0;
	 opacity: 0;
	 width: 100%;
	 height: 100%;
}
 .payroll-main .page-disabled {
	 background: #e8e5e5 78;
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 z-index: 999;
}
 .payroll-main .qaf-loader {
	 width: 48px;
	 height: 48px;
	 border: 5px solid #fff;
	 border-bottom-color: #ff3d00;
	 border-radius: 50%;
	 display: inline-block;
	 box-sizing: border-box;
	 animation: rotation 1s linear infinite;
}
 @keyframes rotation {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 .payroll-main .qaf-loader-div {
	 text-align: center;
	 display: flex;
	 justify-content: center;
}
 .pg-content {
	 margin-top: 0;
}
 