 .revenue-details{
    padding-top: 0!important;
 }
 .revenue-details .page {
	 --qaf-grid-button-bg-color: var(--ButtonBackGroundColor);
	 --qaf-grid-button-border-radius: 4px;
}

 .revenue-details .qaf-btn-primary {
	 margin-left: 8px;
	 background-color: var(--qaf-grid-button-bg-color, #313cbf);
	 border: none;
	 color: var(--qaf-grid-button-color, #fff);
	 padding: var(--qaf-grid-button-color, 8px 13px 8px 13px);
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: var(--qaf-grid-button-font-size, 12px);
	 border-radius: var(--qaf-grid-button-border-radius, 24px);
}
.btn-revenue {
    font-size: 12px!important;
    padding: 5px 10px 5px 10px!important;
    
}

 .revenue-details .pg-content, .revenue-details .container-fluid {
	 padding-top: 0 !important;
}
 .revenue-details .page {
	 display: flex;
	 flex-direction: row;
	 padding-top: 20px;
}
 .revenue-details .page-nav .expense-app-links {
	 position: fixed;
	 height: 100%;
	 padding: 8px 16px;
	 background-color: #000;
	 color: white;
	 display: none;
}
 .revenue-details .page-content {
	 padding-top: 16px;
}
 .revenue-details .expense-grid .qaf-btn-primary.nav-btns {
	 font-size: 14px;
	 border-radius: 4px;
	 padding-bottom: 4px;
	 padding-left: 6px;
	 padding-right: 8px;
}
 .revenue-details .expense-top, .revenue-details .expense-action, .revenue-details .expense-nav {
	 display: flex;
	 flex-direction: row;
	 align-items: baseline;
}
 .revenue-details .expense-action {
	 margin-left: auto;
}
 .revenue-details .expense-top {
	 justify-content: space-between;
	 align-items: center;
}
 .revenue-details .expense-current-month, .revenue-details .expense-current-month-report {
	 margin-left: 10px;
	 font-size: 16px;
	 font-weight: 600;
	 min-width: 100px;
	 text-align: center;
}
 .revenue-details .expense-app-links-dt {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: space-between;
}
 .revenue-details .expense-app-links-dt a.dashboard-App {
	 text-decoration: none;
}
 .revenue-details a.dashboard-App {
	 text-decoration: none;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 color: white;
	 font-size: 14px;
}
 .revenue-details a.dashboard-App .fa {
	 font-size: 28px;
}
 .revenue-details .no-record {
	 margin-top: 0;
	 font-size: 16px;
	 text-align: center;
	 background: #efebeb 73;
	 padding: 5px;
}
 .revenue-details #no-grid {
	 box-shadow: 1px 2px 5px;
	 margin-bottom: 40px;
}
 .revenue-details .common-page-title {
	 font-size: 18px;
	 font-family: inherit;
	 line-height: 1.1;
	 color: inherit;
	 padding: 0;
	 margin-bottom: 0;
}
 .revenue-details .date-nevigator {
	 width: auto;
	 display: flex;
	 justify-content: flex-end;
	 color: #fff;
	 align-items: center;
}
 .revenue-details .button {
	 cursor: pointer;
	 border-radius: 4px;
	 border: none;
	 margin: 0px 5px;
}
 .revenue-details .currentDate {
	 color: #000;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 0px 20px;
}
 .revenue-details .right-conatiner {
	 display: flex;
	 justify-content: flex-end;
	 width: auto;
	 align-items: center;
}
 .revenue-details .qaf-grid__row-item a {
	 color: #009ce7;
	 text-decoration: none;
}
 .revenue-details .table-heading {
	 transform: translate(0, 0px) !important;
	 margin-bottom: 12px;
}
 .revenue-details .pg-content {
	 padding-top: 40px !important;
}
 