.pg-content {
  padding-top: 10px !important;
}

.page-container-user {
  margin: 15px 20px 20px 20px;
  padding-top: 0;
  transform: translate(0px, -20px);
  height: 77vh;
}
.page-container-user {
	/* Form Styling */
	/* Search BAr */
	/* .hide{
		 display: none;
	}
	 */
	/* Loader */
	/* Action Btn */
	/* Styling Forms */
	/* Custom Form */
	/* Form Styling */
	/* Handle */
	/* .es-chekbox-group {
		 width: 80%;
	}
	 */
}
 .page-container-user .common-page-title {
	 font-size: 18px;
	 font-family: inherit;
	 line-height: 1.1;
	 color: inherit;
	 padding: 0;
	 margin-top: 5px;
}
 .page-container-user .tablecontainer {
	 display: flex;
	 justify-content: flex-start;
	 width: 100%;
	 box-shadow: #333 0px 0px 3px 0px;
}
 .page-container-user .add-btn {
	 padding: 6px 12px;
	 border-radius: 5px;
	 margin-right: 4px;
	 cursor: pointer;
	 border: none;
}
 .page-container-user .qaf-table {
	 font-size: 13px;
	 width: 100%;
	 margin: 2px auto;
	 border-collapse: collapse;
	 background-color: #fff;
	 overflow: hidden;
	 font-weight: 400;
}
 .page-container-user .qaf-tr, .page-container-user .qaf-td {
	 border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
 .page-container-user .table > tbody > tr > td, .page-container-user .table > tbody > tr > th, .page-container-user .table > tfoot > tr > td, .page-container-user .table > tfoot > tr > th, .page-container-user .table > thead > tr > td, .page-container-user .table > thead > tr > th {
	 vertical-align: middle;
}
 .page-container-user .qaf-th {
	 height: 50px;
	 padding: 12px 10px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 70px;
	 border-right: none;
	 vertical-align: middle;
}
 .page-container-user .qaf-td {
	 height: 40px;
	 padding: 0px 10px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 105px;
	 border-right: none;
	 vertical-align: middle;
}
 .page-container-user .qaf-th {
	 background-color: #f2f2f2;
	 color: #000;
	 font-weight: 400;
}
 .page-container-user .qaf-tr:nth-child(even) {
	 background-color: rgba(0, 0, 0, 0);
}
 .page-container-user .tablecontainer {
	 overflow-x: auto;
	/* Add this line */
	 max-width: 100%;
	/* Add this line to limit the width */
	 max-height: 70vh;
}
 @media screen and (max-width: 600px) {
	 .page-container-user .qaf-th, .page-container-user .qaf-td {
		 display: block;
		 width: 100%;
		 box-sizing: border-box;
	}
}
 .page-container-user .sorted-button {
	 padding: 0px 5px;
	 display: none;
}
 .page-container-user .qaf-th:hover .sorted-button {
	 display: inline;
	 cursor: pointer;
}
 .page-container-user .header-title {
	 height: 35px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .page-container-user .left-container {
	 width: 30%;
}
 .page-container-user .right-container {
	 height: inherit;
	 width: 70%;
	 display: flex;
	 justify-content: end;
}
 .page-container-user .no-record {
	 width: 100%;
	 text-align: center;
	 font-size: 14px;
	 font-weight: 500;
}
 .page-container-user .qaf-td a {
	 text-decoration: none;
	 color: #009ce7;
	 cursor: pointer;
}
 .page-container-user .page-disabled {
	 background: #fff;
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 z-index: 999;
	 display: none;
}
 .page-container-user .qaf-loader {
	 width: 48px;
	 height: 48px;
	 border: 5px solid #fff;
	 border-bottom-color: #ff7a59;
	 border-radius: 50%;
	 display: inline-block;
	 box-sizing: border-box;
	 animation: rotation 1s linear infinite;
}
 @keyframes rotation {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 .page-container-user .qaf-loader-div {
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 position: absolute;
	 left: 0%;
	 width: 100%;
	 top: 45vh;
}
 .page-container-user .action-btn {
	 display: flex;
}
 .page-container-user .action-btn i {
	 font-size: 19px;
}
 .page-container-user .action-head, .page-container-user .action-cell {
	 min-width: 1px;
}
 .page-container-user .action-buttons {
	 background-color: #fff;
	 border-radius: 4px;
	 padding: 5px;
	 z-index: 1;
	 position: absolute;
	/* top: 100%;
	 */
	 background-color: #fff;
	 box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	 width: 85px;
	/* Position the action buttons below the ellipsis button */
}
 .page-container-user .action-buttons button {
	 display: block;
	 width: 100%;
	 padding: 3px 8px;
	 border: none;
	 background-color: transparent;
	 text-align: left;
	 cursor: pointer;
	 color: #2d2c2c;
}
 .page-container-user .action-buttons button:hover {
	 background-color: #f4f4f4 f7;
}
 .page-container-user .action-cell {
	 position: relative;
}
 .page-container-user .action-btn {
	 width: 30px;
	 height: 30px;
	 padding: 0;
}
 .page-container-user .action-btn {
	 background-color: #fff;
	 color: #ff7a59;
	 border: none;
	 padding: 5px 15px;
	 border-radius: 5px;
	 cursor: pointer;
	 transition: background-color 0.3s;
	 margin: 0px 10px 0px 10px;
}
 .page-container-user .header-button {
	 margin: 0px;
}
 .page-container-user .header-title {
	 height: 30px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 margin-bottom: 5px;
}
 .page-container-user .header-title-count {
	 display: flex;
	 align-items: baseline;
	 gap: 10px;
}
 .page-container-user .popup-container {
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.5);
	 z-index: 9999;
	 display: none;
}
 .page-container-user .popup-content {
	 background: #fff;
	 padding: 30px 20px 20px 20px;
	 border-radius: 5px;
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	 width: 50%;
	 height: 75vh;
	/* overflow: scroll;
	 */
	 position: fixed;
	 left: 50%;
	 top: 55%;
	 transform: translate(-50%, -50%);
	 margin-top: 30px;
	 z-index: 9999;
}
 .page-container-user .permission-list {
	 display: flex;
	 align-items: baseline;
	 margin: 0px 5px;
}
 .page-container-user .popup-content-es {
	 min-width: 58%;
	 max-width: 99%;
	 margin: 0;
	 overflow: scroll;
}
 .page-container-user .field-list {
	 display: flex;
	 justify-content: space-between;
	 padding: 5px 0px;
}
 .page-container-user .boolean-fields {
	 width: 25%;
}
 .page-container-user .boolean-fields:not(.boolean-fields:nth-child(1)) {
	 width: 10%;
}
 .page-container-user .qaf-form-group {
	 margin-bottom: 10px;
}
 .page-container-user .edit-detail-label {
	 display: inline-block;
	 margin-bottom: 5px;
	 font-size: 13px;
	 font-family: Poppins;
	 color: #333;
	 transform: translate(0, 5px);
	 font-weight: 400;
}
 .page-container-user .edit-detail-input {
	 width: 100%;
	 padding: 8px 12px;
	 border: 1px solid #ccc;
	 border-radius: 5px;
	 box-sizing: border-box;
	 font-size: 13px;
	 outline: none;
	 color: #333;
}
 .page-container-user .fs-select {
	 margin-top: 3px;
}
 .page-container-user .es-buttos {
	 display: flex;
	 justify-content: flex-end;
}
 .page-container-user .btn {
	 margin-left: 5px;
}
 .page-container-user .input-btn-group {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 align-items: center;
}
 .page-container-user .inputarea {
	 flex: 1 1 auto;
	/* Adjust as needed */
	 margin-right: 10px;
	/* Adjust spacing */
}
 .page-container-user .trackerfield {
	 width: 50%;
}
 .page-container-user .control-btn {
	 margin-top: 25px;
}
 .page-container-user .field-content {
	 border: 1px solid #ccc;
	 padding: 10px 20px;
	 padding: 10px 20px;
	 border-radius: 5px;
}
 .page-container-user .label-area {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
}
 .page-container-user .date-area {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
}
 .page-container-user .date-container {
	 width: 100%;
}
 .page-container-user .clear-date-btn {
	 color: #000;
	 border: none;
	 background-color: #fff;
	 cursor: pointer;
}
 .page-container-user .qaf-qaf-form-group {
	 padding-bottom: 10px;
}
 .page-container-user .qaf-qaf-form-group span.required {
	 display: inline;
	 vertical-align: bottom;
	 color: #c00;
}
 .page-container-user select {
	 -webkit-appearance: none;
	 appearance: none;
	 background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 15px center;
}
 .page-container-user .arrow {
	 background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 15px center;
	 background-size: 11px;
}
 .page-container-user .hide-y-scroll {
	 overflow-y: hidden !important;
}
 .page-container-user .es-input {
	 padding: 15px;
	 margin-bottom: 20px;
	 box-sizing: border-box;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 outline: none;
	 font-size: 16px;
}
 .page-container-user .es-input {
	 transform: scale(1.5);
}
 .page-container-user .permission-dropdown {
	 width: 50%;
}
 .page-container-user .es-form-group {
	 width: 50%;
	 margin-bottom: 0px;
}
 .page-container-user .es-label {
	 margin-bottom: 8px;
	 margin: 0px 0px 10px 10px;
	 font-size: 14px;
	 font-weight: 350;
	 color: gray;
}
 .page-container-user .grid-list {
	 display: grid;
	 grid-template-columns: repeat(2, 1fr);
	 list-style: none;
	 padding: 10px 0px;
}
 .page-container-user .page-blur {
	 opacity: 0.7;
	 z-index: 9999;
	 pointer-events: none;
}
 .page-container-user .form {
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.5);
	 z-index: 1;
	 display: none;
}
 .page-container-user .common-page-title {
	 font-size: 18px;
	 font-family: inherit;
	 color: inherit;
}
 .page-container-user .page-main {
	 background: #8c3838;
	 width: 100%;
}
 .page-container-user .main-container {
	 margin-top: 60px;
	 width: 50%;
	 background: #fff;
	 float: right;
}
 .page-container-user .form-container {
	 padding: 20px;
	 height: 659px;
}
 .page-container-user .container {
	 width: 100%;
	 margin: 0px;
	 padding: 20px;
	 border-radius: 5px;
	/* box-shadow: 1px 2px 5px;
	 */
	 border: 1px solid #e4dede;
}
 .page-container-user .qaf-form-group {
	 margin-bottom: 10px;
}
 .page-container-user .fs-label {
	 display: inline-block;
	 margin-bottom: 5px;
	 font-size: 13px;
	 font-family: Poppins;
	 color: #333;
	 transform: translate(0, 5px);
	 font-weight: 400;
}
 .page-container-user .qaf-form-group span.required {
	 display: inline;
	 vertical-align: bottom;
	 color: red;
}
 .page-container-user .fs-input {
	 width: 100%;
	 padding: 10px;
	 border: 1px solid #ccc;
	 border-radius: 5px;
	 box-sizing: border-box;
	 font-size: 13px;
	 outline: none;
	 color: #333;
}
 .page-container-user .fs-select {
	 margin-top: 3px;
}
 .page-container-user .header-buttons {
	 background-color: #f3f3f3;
	 padding: 10px 5px;
	 border-bottom: 1px solid #000;
	 width: 100%;
	 box-sizing: border-box;
	 display: flex;
	 justify-content: start;
}
 .page-container-user .form-container {
	 max-height: 655px;
	 overflow-y: auto;
	 border: none;
}
 .page-container-user .form-container::-webkit-scrollbar {
	 width: 8px;
	/* Set the width of the scrollbar */
	 border-radius: 5px;
}
 .page-container-user .form-container::-webkit-scrollbar-track {
	 background: #f1f1f1;
	/* Color of the scrollbar track */
}
 .page-container-user .form-container::-webkit-scrollbar-thumb {
	 background: #888;
	 border-radius: 5px;
}
 .page-container-user input[type="checkbox"] {
	 accent-color: var(--ButtonBackGroundColor);
}
 .page-container-user .reset-paasword-loader {
	 left: 25%;
}
 .page-container-user .section-heading {
	 margin-top: 15px;
}
 .page-container-user .column-group {
	 display: flex;
	 justify-content: space-between;
}
 .page-container-user .qaf-column-field {
	 width: 49.5%;
}
 .page-container-user .column-group-permisson {
	 display: flex;
	 justify-content: space-between;
	 margin-top: 20px;
}
 .page-container-user .left-form-group {
	 width: 50%;
}
 .page-container-user .user-permission {
	 display: flex;
	/* justify-content: space-between;
	 */
	 padding-top: 10px;
}
 .page-container-user .left-heading-group {
	 width: 25%;
}
 .page-container-user .topHeader {
	 z-index: 0 !important;
}
 .page-container-user .user-type-popup {
	 height: 147px;
	 min-width: 19%;
	 max-width: 19%;
}
 .page-container-user input[type="radio"] {
	 -ms-transform: scale(1.5);
	/* IE 9 */
	 -webkit-transform: scale(1.5);
	/* Chrome, Safari, Opera */
	 transform: scale(1.5);
	 cursor: pointer;
}
 .page-container-user .user-type-popup label {
	 transform: translate(8px, -3px);
	 cursor: pointer;
}
 .page-container-user .p-5 {
	 padding: 5px !important;
	 height: 80.5vh;
}
 .page-container-user .input-action {
	 display: flex;
	 justify-content: space-evenly;
	 margin-bottom: 10px;
	 flex-direction: column;
}
 .page-container-user .team-list {
	 width: 100%;
}
 .page-container-user .responsive-form {
	 margin-bottom: 10px;
}
 