body {
  font-family: "poppins", sans-serif;
  background-color: #fff;
  margin: 0;
}
.pg-content {
  margin-top: 30px;
}
/* header */
.qaf-meeting-room {
  margin-top: 20px;
 /*Crad Styling */
 /* Media Querrie */
 /* .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 100%;
    height: 96vh;
    overflow: scroll;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
 }
  */
 /* .fs-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
 }
  */
 /* .hide-y-scroll {
    overflow-y: hidden !important;
 }
  */
 /* .fs-input {
    width: 100%;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
    color: #333;
 }
  */
 /* .tablecontainer {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    width: 98.5%;
    box-shadow: rgb(51, 51, 51) 0px 0px 3px 0px;
 }
  */
 /* table {
    width: 100%;
    border-collapse: collapse;
 }
  */
 /* Custome Form Design */
 /* .fs-select {
    margin-top: 3px;
 }
  */
}
.qaf-meeting-room header {
  background-color: #fff;
  color: #565656;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qaf-meeting-room .fs-title {
  width: 25%;
  font-size: 20px;
  padding-left: 10px;
}
.qaf-meeting-room .fs-title p {
  font-size: 18px;
  font-family: "Poppins";
  line-height: 1.1;
  color: black;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.qaf-meeting-room header i {
  color: #fff;
}
.qaf-meeting-room .header-container {
  flex: 1;
  display: flex;
  justify-content: end;
  height: 35px;
  padding: 3px;
}
.qaf-meeting-room .header-button {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  margin: 0;
}
.qaf-meeting-room .fs-textarea-control {
  margin-bottom: 5px !important;
}
.qaf-meeting-room .fs-qaf-button {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.qaf-meeting-room .fsbtn:hover {
  color: #fff;
  background-color: #ff7a59;
}
.qaf-meeting-room .fs-card-container {
 /* width: 100%;
  */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 10px;
}
.qaf-meeting-room .fs-card {
  width: 23%;
  height: 150px;
  margin: 5px 15px 20px 10px;
  background-color: #fff;
  box-shadow: 1px 2px 5px;
  transition: transform 0.3s ease-in-out;
}
.qaf-meeting-room .main {
  display: flex;
  width: 100%;
  padding: 12px;
  height: 100%;
  padding: 0px;
}
.qaf-meeting-room .fs-date-container {
  width: 100%;
  height: auto;
}
.qaf-meeting-room .visit-time {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  cursor: pointer;
  border-left: 4px solid green;
}
.qaf-meeting-room .visit-time span {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.qaf-meeting-room .visit-details {
  width: 35%;
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 12px;
  background-color: #dfeddf;
}
.qaf-meeting-room .detailbody {
  width: 65%;
  padding: 10px;
}
.qaf-meeting-room .service-title p {
  margin: 0px 0px;
  font-size: 13px;
  font-weight: 500;
}
.qaf-meeting-room .service-title {
  height: 22px;
}
.qaf-meeting-room .Description {
  height: 30%;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.qaf-meeting-room .category {
  border-bottom: 2px solid #d5d3d3;
}
.qaf-meeting-room .listview, .qaf-meeting-room .gridview {
  padding: 4px 12px;
  margin-right: 0px;
}
.qaf-meeting-room #today {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  margin: 0px 5px;
  color: black;
}
.qaf-meeting-room .mark {
  height: 30px;
  border-radius: 50px;
  width: 30px;
  background-color: #e8e5e5;
  border: 0.1px solid #009ce7;
  margin: 0px 5px;
}
.qaf-meeting-room .mark i {
  color: #009ce7;
  font-size: 20px;
}
.qaf-meeting-room .nevigation {
  display: flex;
  justify-content: end;
}
.qaf-meeting-room .fs-preveous, .qaf-meeting-room .next, .qaf-meeting-room .add {
  margin-right: 0px;
}
.qaf-meeting-room .add {
  margin-left: 10px;
}
.qaf-meeting-room .qaf-cancel:hover {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.87);
}
.qaf-meeting-room .nodata {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  margin: 40px;
}
.qaf-meeting-room .Customer {
  padding-top: 10px;
}
.qaf-meeting-room .popup-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
 /* background: rgba(0, 0, 0, 0.5);
  */
  background: #fff;
  display: none;
}
.qaf-meeting-room .popup-content {
  max-width: 600px;
  margin: 11% auto;
  padding: 20px;
  background: #fff;
  overflow-y: auto;
  height: auto;
}
.qaf-meeting-room .fs-label {
  display: flex;
  font-weight: 500;
  margin-bottom: 0px;
}
.qaf-meeting-room .fs-select {
  margin-top: 0px;
}
.qaf-meeting-room .action-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.qaf-meeting-room .fsbtn {
  background-color: var(--qaf-grid-button-bg-color, #ff7a59);
  color: var(--qaf-grid-button-color, #fff);
  border: none;
  border-radius: 4px;
  cursor: pointer;
 /* margin: 0px 10px;
  */
  padding: 4px 12px;
}
.qaf-meeting-room .fsbtn.qaf-submit {
  background-color: #ff7a59;
  color: #fff;
}
.qaf-meeting-room .fsbtn.qaf-cancel {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .qaf-meeting-room {
   /* Adjust styles for smaller screens */
 }
  .qaf-meeting-room header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: -15px;
 }
  .qaf-meeting-room .header-button, .qaf-meeting-room .header-container, .qaf-meeting-room .search-bar {
    width: 100%;
 }
  .qaf-meeting-room .header-button {
    display: flex;
    justify-content: flex-end;
 }
  .qaf-meeting-room .fs-card {
    width: 96%;
    margin: 5px 5px 20px 10px;
 }
  .qaf-meeting-room .fs-title {
    margin-left: 20px;
    padding-bottom: 20px;
 }
  .qaf-meeting-room .row {
    width: auto;
 }
  .qaf-meeting-room .addplus {
    margin-right: 0px;
 }
  .qaf-meeting-room .fs-card-container {
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
 }
  .qaf-meeting-room .popup-content {
    padding: 10px;
    margin-top: 55px;
    height: auto;
    overflow-y: auto;
 }
  .qaf-meeting-room .fs-input {
    font-size: 14px;
 }
  .qaf-meeting-room .gridview {
    margin-left: 0px;
 }
  .qaf-meeting-room .Customer {
    padding-top: 5px;
 }
}
.qaf-meeting-room .form-group span.error-message {
  padding: 3px 0px;
  margin: 0;
  color: #f00;
  font-size: 13px;
}
.qaf-meeting-room .input {
  width: 250px;
  margin-left: 10px;
}
.qaf-meeting-room .qaf-table {
  font-size: 13px;
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  background-color: #fff;
  overflow: hidden;
  font-weight: 400;
}
.qaf-meeting-room th, .qaf-meeting-room td {
 /* border: 1px solid #dddddd;
  */
  text-align: left;
}
.qaf-meeting-room .highlight {
 /* width: 50%;
  */
  background-color: #b5fffa;
  padding: 10px;
  border: 5px solid #fff f;
 /* border-right: 5px solid #ffff;
  */
}
.qaf-meeting-room .event {
  padding: 10px;
}
.qaf-meeting-room .qaf-td:first-child {
  font-size: 18px;
  width: 2%;
  padding-top: 0px;
  vertical-align: top;
  padding: 10px 8px 8px 20px;
  height: 45px;
}
.qaf-meeting-room .data {
  padding: 10px 48px 30px 20px;
}
.qaf-meeting-room .add-btn {
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 4px;
  cursor: pointer;
  border: none;
}
.qaf-meeting-room .qaf-table {
  font-size: 13px;
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  background-color: #fff;
  overflow: hidden;
  font-weight: 400;
}
.qaf-meeting-room .tablecontainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.qaf-meeting-room .tablecontainer {
  overflow-x: auto;
  max-width: 100%;
 /* max-height: 78vh;
  */
}
.qaf-meeting-room .qaf-th {
  height: 60px;
  padding: 12px 10px;
  text-align: left;
  word-wrap: break-word;
  min-width: 70px;
}
.qaf-meeting-room .qaf-td {
  text-align: left;
  word-wrap: break-word;
  min-width: 2%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #e9d9d9;
  border-top: 1px solid #e9d9d9;
}
.qaf-meeting-room .qaf-th {
  background-color: #f2f2f2;
  color: #000;
  font-weight: 400;
}
.qaf-meeting-room .qaf-tr {
  border: 1px solid #fbd8d8;
}
.qaf-meeting-room .loaderk {
  border: 5px solid #f3f3f3;
 /* Light grey */
  border-top: 5px solid #ff7a59;
 /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.qaf-meeting-room .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.qaf-meeting-room .disabled {
 /* opacity: 0.5;
  */
  cursor: not-allowed;
}
.qaf-meeting-room .btn.disabled:hover {
  background-color: #ff7a59;
  border: none;
}
.qaf-meeting-room .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: top 0.5s;
 /* Smooth transition for sliding effect */
}
.qaf-meeting-room .common-page-title {
  font-size: 18px;
  font-family: inherit;
  color: inherit;
}
.qaf-meeting-room .page-main {
  background: #8c3838;
  width: 100%;
}
.qaf-meeting-room .main-container {
  margin-top: 60px;
  width: 50%;
  background: #fff;
  float: right;
}
.qaf-meeting-room .form-container {
  padding: 20px;
  height: 750px;
}
.qaf-meeting-room .container {
  width: 100%;
  margin: 0px;
  padding: 5px 20px;
  border-radius: 5px;
 /* box-shadow: 1px 2px 5px;
  */
  border: 1px solid #e4dede;
}
.qaf-meeting-room .fs-label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
  font-family: Poppins;
  color: #333;
  transform: translate(0, 5px);
  font-weight: 400;
}
.qaf-meeting-room .qaf-form-group span.required {
  display: inline;
  vertical-align: bottom;
  color: red;
}
.qaf-meeting-room .fs-input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
  color: #333;
}
.qaf-meeting-room .tablecontainer {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  width: 99.5%;
  box-shadow: #333 0px 0px 3px 0px;
}
.qaf-meeting-room .add-btn {
  background-color: #ff7a59;
  color: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-bottom: 5px;
}
.qaf-meeting-room .date-input {
  display: flex;
  align-items: center;
}
.qaf-meeting-room .header-buttons {
  background-color: #f3f3f3;
  padding: 10px 5px;
  border-bottom: 1px solid #000;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}
.qaf-meeting-room .btn-primary {
 /* background-color: #ff7a59;
  color: #fff;
  */
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}
.qaf-meeting-room .qaf-form-group span.error-message {
  padding: 3px 0px;
  margin: 0;
  color: #f00;
  font-size: 13px;
}
.qaf-meeting-room .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qaf-meeting-room .btn-container {
  display: flex;
  align-items: end;
}
.qaf-meeting-room .clear-date-btn {
  color: #000;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.qaf-meeting-room .form {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.qaf-meeting-room .hide-y-scroll {
  overflow-y: hidden !important;
}
.qaf-meeting-room .select-first {
  padding: 5px;
}
.qaf-meeting-room .input-time {
  margin-top: 0px;
  padding: 7px 12px;
}
.qaf-meeting-room .header-buttons .button {
  margin: 0px 10px;
}
.qaf-meeting-room .page-disabled {
  background: #e8e5e5 78;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.qaf-meeting-room .qaf-loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff7a59;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.qaf-meeting-room .qaf-loader-div {
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 25%;
  width: 100%;
  bottom: 50vh;
}
.qaf-meeting-room input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
.qaf-meeting-room input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
.qaf-meeting-room input[type="time"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
.qaf-meeting-room input[type="time"]:focus::-webkit-datetime-edit {
  color: black !important;
}
.qaf-meeting-room .fullwidht {
  width: 100%;
  padding-top: 10px;
}
.qaf-meeting-room .select-input {
  width: 100%;
}
.qaf-meeting-room .select-group {
  display: flex;
  justify-content: space-between;
}
.qaf-meeting-room .display-column {
  width: 49%;
}
.qaf-meeting-room .meeting {
  margin-top: 7px;
}
.qaf-meeting-room .select-first {
  -webkit-appearance: none;
  appearance: none;
  appearance: none;
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 15px center;
}
.qaf-meeting-room .arrow {
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 15px center;
  background-size: 11px;
}
.qaf-meeting-room .label-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.qaf-meeting-room .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.qaf-meeting-room .date-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.qaf-meeting-room .date-container {
  width: 100%;
}
.qaf-meeting-room .time-container {
  width: 90%;
  margin-left: 10px;
}
.qaf-meeting-room .container {
  padding-bottom: 15px;
}