.pg-content {
  padding-top: 40px !important;
}
.page-container {
  margin: 50px 20px 20px 20px;
  transform: translate(0px, -30px);
}
.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-container {
  width: 30%;
}

.right-container {
  height: inherit;
  /* width: 70%; */
  display: flex;
  justify-content: end;
}

.common-page-title {
  font-size: 18px;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  padding: 0;
}

.tablecontainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-shadow: rgb(51, 51, 51) 0px 0px 3px 0px;
}
.tablecontainer {
  overflow-x: auto;
  max-width: 100%;
  max-height: 78vh;
  margin-top: 12px;
}

.add-btn {
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 4px;
  cursor: pointer;
  border: none;
}

.qaf-table {
  font-size: 13px;
  width: 100%;
  margin: 2px auto;
  border-collapse: collapse;
  background-color: #fff;
  overflow: hidden;
  font-weight: 400;
}
.qaf-tr,
.qaf-td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.qaf-th {
  height: 38.12px;
  padding: 9px 10px;
  text-align: left;
  word-wrap: break-word;
  min-width: 70px;
  border-right: none;
  vertical-align: middle;
}
.qaf-td {
  height: 38.12px;
  padding: 0px 10px;
  text-align: left;
  word-wrap: break-word;
  min-width: 135px;
  border-right: none;
  vertical-align: middle;
}

.qaf-th {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.qaf-tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 600px) {
  .qaf-th,
  .qaf-td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
.sorted-button {
  padding: 0px 5px;
  display: none;
}
.qaf-th:hover .sorted-button {
  display: inline;
  cursor: pointer;
}

/* Form Styling */

/* Search BAr */

.no-record {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.qaf-td a {
  text-decoration: none;
  color: #009ce7;
  cursor: pointer;
}

.hide {
  display: none;
}
/* Loader */
.page-disabled {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.qaf-loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color:var(--ButtonBackGroundColor);;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.qaf-loader-div {
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0%;
  width: 100%;
  top: 45vh;
}

/* Action Btn */
.action-btn {
  display: flex;
}

.action-btn i {
  font-size: 19px;
}
.action-head,
.action-cell {
  min-width: 1px;
}

.action-buttons {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  z-index: 1;
  position: absolute;
  /* top: 100%; */
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 85px;
  /* Position the action buttons below the ellipsis button */
}

.action-buttons button {
  display: block;
  width: 100%;
  padding: 3px 8px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  color: #2d2c2c;
}

.action-buttons button:hover {
  background-color: #f4f4f4f7;
}

.action-cell {
  position: relative;
  width: 0px;
  padding: 0px !important;
}

.action-btn {
  width: 30px;
  height: 30px;
  padding: 0;
}

.action-btn {
  background-color: #fff;
  color:var(--ButtonBackGroundColor);
  border: none;
  padding: 12px 15px 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0px 10px 15px 10px;
}

/* Pop UP Form */

.popup-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.popup-content {
  background: #fff;
  padding: 30px 20px 20px 20px;
  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 95vh;
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.popup-content-es {
  min-width: 99%;
  max-width: 99%;
  margin: 0;
}

.qaf-qaf-form-group {
  width: 27%;
  padding-bottom: 10px;
  margin-right: 30px;
}
.permission-section-group {
  width: 100%;
}

.qaf-form-group span.required {
  display: inline;
  vertical-align: -webkit-baseline-middle;
  color: red;
}

.qaf-column-field {
  width: 27%;
  margin-right: 30px;
}

.edit-detail-label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
  font-family: Poppins;
  color: #333;
  transform: translate(0, 5px);
  font-weight: 400;
}

.edit-detail-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  /* border-bottom: 1px solid #ccc; */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
  color: #333;
}

.fs-select {
  margin-top: 3px;
}

.arrow {
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat scroll right 1px center;
  background-size: 8px;
}

.fs-label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: Poppins;
  color: #333;
  transform: translate(0, 5px);
  font-weight: 400;
}

/* Styling Forms */
.qaf-form-group {
  margin-bottom: 10px;
}

/* Card Styling */
.card_section {
  padding: 0px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;

  /* margin-left: 100px;
  margin-right: 80px; */
}
.card-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 10px;
}
.card {
  /* margin-bottom: 20px; */
  height: auto;
  /* box-shadow: 1px 2px 5px; */
  /* padding: 20px 20px 10px 20px; */
  border-radius: 5px;
}
.job-card {
  flex: 0 0 auto;
  width: 31.1%;
  padding: 0px 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* Back Buttons */
.header-buttons {
  padding: 12px 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}

.cancel-page {
  border: none;
  color: #2c5cc5;
  font-weight: 600;
  font-size: 13px;
  background: #fff;
  padding: 0px;
}

.cancel-page i {
  margin-right: 10px;
}

.top-section {
  display: flex;
  flex-direction: column;
  margin: 0% 3%;
}

.hide-y-scroll {
  overflow-y: hidden !important;
}

/* next form Styling */
/* .popup-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  }
  .popup-content {
      background: #fff;
      padding: 30px 20px 20px 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 50%;
      height: 80vh;
      overflow: scroll;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      }
      .popup-content-es{
          min-width: 50%;
          max-width: 600px;
          margin: 0;
      }
      .field-list{
          display: flex;
          justify-content: space-between;
      }
      .boolean-fields{
          width: 25%;
      }
      .boolean-fields:not(.boolean-fields:nth-child(1)){
          width: 10%;
      } */
.tab-box {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 1;
  /* border-bottom: 2px solid rgb(235, 234, 234); */
  /* margin-right: 25px;  */
  margin-left: 35%;
}

.tab-btn {
  border: none;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  display: flex;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
}

.tab-content {
  display: none;
  width: 100%;
  padding: 20px 0px;
  /* border: 1px solid #ddd;  */
}

.tab-content.active {
  display: block;
}

.line {
  position: absolute;
  top: 70px;
  height: 2px;
  background-color: #311212;
  transition: all 0.3s ease-in-out;
}

.view-section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.view-campagin {
  width: 570px;
  padding: 40px;
  border: 1px solid;
}

.send-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.recepient-section {
  width: 70%;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.estimate-section {
  padding: 20px;
  width: 30%;
}

.send-fromgroup {
  width: 50%;
}

.count-section {
  height: 186px;
}
.count-section h3{
  text-align: center;
}

.btn-new{
  margin: 0px 5px;
  padding: 6px 12px;
}
.count-entry{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.border-k {
  width: 100%;
  border-top: 2px solid rgb(235, 234, 234);
}

.template-msg{
  height: 300px;
  box-shadow: 1px 2px 5px;
  max-height: 300px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
}
.template-name{
  text-align: center;
}

.template-name h3{
  margin: 10px 0px;
}

.msg-p{
  margin: 0;
}

.template h3{
  margin: 10px 0px 15px 0px;
}