.pg-content{
    padding-top: 0!important;
}

.page {
    --qaf-grid-button-bg-color: var(--ButtonBackGroundColor);
    --qaf-grid-button-border-radius: 4px;
  }
      .qaf-btn-primary {
          margin-left: 8px;
          background-color: var(--qaf-grid-button-bg-color, #313CBF);
          border: none;
          color: var(--qaf-grid-button-color, #fff);
          padding: var(--qaf-grid-button-color, 8px 16px);
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: var(--qaf-grid-button-font-size, 16px);
          border-radius: var(--qaf-grid-button-border-radius, 24px);
        }
.popup-container {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: block;
  }
  
  .popup-content {
    background: #fff;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 50vh;
    overflow: scroll;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  