/* task Activity CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.pg-content {
	padding-top: 0px !important;
}
.shiftPolicy {
	/* for QAF Lite */
	/* TAble CSS */
	/* .payroll-details {
		 margin: 0px 20px 20px 20px;
	}
	 .common-page-title {
		 font-size: 18px;
		 font-family: inherit;
		 line-height: 1.1;
		 color: inherit;
		 padding: 0;
		 margin-bottom: 5px;
	}
	 */
	/* .table-container {
		 overflow: scroll;
		 box-shadow: rgb(51, 51, 51) 0px 0px 3px 0px;
	}
	 .table-container::-webkit-scrollbar {
		 height: 20px;
	}
	 */
	/* Form Styling */
	/* Search BAr */
	/* Shift Assignment Styling */
	/* report Styling*/
	/* Loader */
}
 .shiftPolicy .main-container {
	 display: flex;
}
 .shiftPolicy .offboardedReport {
	 transform: translate(0,3px);
}
 .shiftPolicy .container {
	 width: 100%;
	 margin: 0px;
}
 .shiftPolicy p {
	 font-size: 18px;
}
 .shiftPolicy .tab-box {
	 display: flex;
	 flex-grow: 1;
	 flex-wrap: wrap;
	 overflow: hidden;
	 z-index: 1;
	 border-bottom: 2px solid #ebeaea;
	/* margin-right: 25px;
	 */
}
 .shiftPolicy .tab-btn {
	 border: none;
	 background-color: #fff;
	 font-size: 14px;
	 font-weight: 400;
	 color: #000;
	 display: flex;
	 padding: 10px 30px;
	 text-align: center;
	 cursor: pointer;
}
 .shiftPolicy .tab-content {
	 display: none;
	 width: 100%;
	 padding: 20px 0px;
	/* border: 1px solid #ddd;
	 */
}
 .shiftPolicy .tab-content.active {
	 display: block;
}
 .shiftPolicy .line {
	 position: absolute;
	 top: 95px;
	 height: 2px;
	 background-color: #311212;
	 transition: all 0.3s ease-in-out;
}
 .shiftPolicy .nodata {
	 display: flex;
	 justify-content: center;
	 font-size: 15px;
	 width: 100%;
}
 .shiftPolicy .tab-content {
	 display: none;
	 animation: moving 0.5s ease;
}
 .shiftPolicy .moving-left {
	 animation: moving-left 0.5s;
}
 .shiftPolicy .moving-right {
	 animation: moving-right 0.5s;
}
 @keyframes moving-left {
	 from {
		 transform: translateX(50%);
		 opacity: 0;
	}
	 to {
		 transform: translateX(0);
		 opacity: 1;
	}
}
 @keyframes moving-right {
	 from {
		 transform: translateX(-50%);
		 opacity: 0;
	}
	 to {
		 transform: translateX(0);
		 opacity: 1;
	}
}
 .shiftPolicy .inner-sub-title {
	 font-weight: 600;
}
 .shiftPolicy .table-data {
	 border-radius: 4px;
	 padding: 0;
}

 .shiftPolicy .payroll-details {
	 margin: 60px 20px 20px 20px;
	 padding-top: 10px;
}
 .shiftPolicy .common-page-title {
	 font-size: 18px;
	 font-family: inherit;
	 line-height: 1.1;
	 color: inherit;
	 padding: 0;
}
 .shiftPolicy .tablecontainer {
	 display: flex;
	 justify-content: flex-start;
	 width: 100%;
	 box-shadow: #333 0px 0px 3px 0px;
}
 .shiftPolicy .add-btn {
	 padding: 6px 12px;
	 border-radius: 5px;
	 margin-right: 4px;
	 cursor: pointer;
	 border: none;
}
 .shiftPolicy .qaf-table {
	 font-size: 13px;
	 width: 100%;
	 margin: 2px auto;
	 border-collapse: collapse;
	 background-color: #fff;
	 overflow: hidden;
	 font-weight: 400;
}
 .shiftPolicy .qaf-tr, .shiftPolicy .qaf-td {
	 border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
 .shiftPolicy .table > tbody > tr > td, .shiftPolicy .table > tbody > tr > th, .shiftPolicy .table > tfoot > tr > td, .shiftPolicy .table > tfoot > tr > th, .shiftPolicy .table > thead > tr > td, .shiftPolicy .table > thead > tr > th {
	 vertical-align: middle;
}
 .shiftPolicy .qaf-th {
	 height: 60px;
	 padding: 12px 10px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 70px;
}
 .shiftPolicy .qaf-td {
	 height: 40px;
	 padding: 0px 10px;
	 text-align: left;
	 word-wrap: break-word;
	 min-width: 135px;
}
 .shiftPolicy .qaf-th {
	 background-color: #f2f2f2;
	 color: #000;
	 font-weight: 400;
}
 .shiftPolicy .qaf-tr:nth-child(even) {
	 background-color: rgba(0, 0, 0, 0);
}
 .shiftPolicy .tablecontainer {
	 overflow-x: auto;
	/* Add this line */
	 max-width: 100%;
	/* Add this line to limit the width */
	 max-height: 72vh;
}
 .shiftPolicy .tablecontainer::-webkit-scrollbar {
	 height: 10px;
}
 @media screen and (max-width: 600px) {
	 .shiftPolicy .qaf-th, .shiftPolicy .qaf-td {
		 display: block;
		 width: 100%;
		 box-sizing: border-box;
	}
}
 .shiftPolicy .sorted-button {
	 padding: 0px 5px;
	 display: none;
}
 .shiftPolicy .qaf-th:hover .sorted-button {
	 display: inline;
	 cursor: pointer;
}
 .shiftPolicy .header-title {
	 height: 30px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 margin-bottom: 5px;
}
 .shiftPolicy .left-container {
	 width: 30%;
}
 .shiftPolicy .right-container {
	 height: inherit;
	 width: 40%;
	 display: flex;
	 justify-content: end;
}
 .shiftPolicy .qaf-search-bar {
	 width: 100%;
}
 .shiftPolicy .apply-input {
	 margin: 0px 5px;
	 padding: 6px;
	 border-radius: 4px;
	 border: 1px solid gray;
}
 .shiftPolicy .cancel-icon {
	 right: 10px;
}
 .shiftPolicy .no-record {
	 width: 100vw;
	 text-align: center;
	 font-size: 14px;
	 font-weight: 500;
}
 .shiftPolicy .datefield {
	 display: flex;
	 margin: 0px 5px;
}
 .shiftPolicy .add-btn {
	 background-color: #de5b22;
	 color: #fff;
	 margin-right: 0;
}
 .shiftPolicy a {
	 text-decoration: none;
	 color: #009ce7;
	 cursor: pointer;
}
 .shiftPolicy .action-btn {
	 display: flex;
}
 .shiftPolicy .action-head, .shiftPolicy .action-cell {
	 min-width: 1px;
}
 .shiftPolicy .action-buttons {
	 background-color: #fff;
	 border-radius: 4px;
	 padding: 5px;
	 z-index: 1;
	 position: absolute;
	/* top: 100%;
	 */
	 background-color: #fff;
	 box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	 width: 85px;
	/* Position the action buttons below the ellipsis button */
}
 .shiftPolicy .action-buttons button {
	 display: block;
	 width: 100%;
	 padding: 3px 8px;
	 border: none;
	 background-color: transparent;
	 text-align: left;
	 cursor: pointer;
	 color: #2d2c2c;
}
 .shiftPolicy .action-buttons button:hover {
	 background-color: #f4f4f4 f7;
}
 .shiftPolicy .action-cell {
	 position: relative;
	/* Ensure the action buttons are positioned relative to the cell */
}
 .shiftPolicy .action-btn {
	 width: 30px;
	/* Adjust width for vertical ellipsis button */
	 height: 30px;
	/* Adjust height for vertical ellipsis button */
	 padding: 0;
}
 .shiftPolicy .action-btn {
	 background-color: #fff;
	 color: #ff7a59;
	 border: none;
	 padding: 5px 15px;
	 border-radius: 5px;
	 cursor: pointer;
	 transition: background-color 0.3s;
	 margin: 0px 10px 0px 10px;
}
 .shiftPolicy .form-container {
	 padding: 0px;
}
 .shiftPolicy .child-container {
	 width: 100%;
	 margin: 0px;
	 padding: 0px 20px;
	 border-radius: 5px;
}
 .shiftPolicy .qaf-form-group {
	 margin-bottom: 10px;
}
 .shiftPolicy .fs-label {
	 width: 100%;
	 display: inline-block;
	 margin-bottom: 5px;
	 font-size: 13px;
	 font-family: Poppins;
	 color: #333;
	 transform: translate(0, 5px);
	 font-weight: 600;
}
 .shiftPolicy .qaf-form-group span.required {
	 display: inline;
	 vertical-align: bottom;
	 color: #c00;
}
 .shiftPolicy .fs-input {
	 width: 100%;
	 padding: 10px;
	 border: 1px solid #ccc;
	 border-radius: 5px;
	 box-sizing: border-box;
	 font-size: 13px;
	 outline: none;
	 color: #333;
}
 .shiftPolicy .fs-select {
	 margin-top: 3px;
}
 .shiftPolicy .select-employee-tab {
	 border: 1px solid black;
	 height: 494px;
	 display: flex;
	 justify-content: space-between;
}
 .shiftPolicy .first-tab, .shiftPolicy .second-tab {
	 padding: 15px 0px 15px 15px;
}
 .shiftPolicy .first-tab {
	 width: 47%;
	 border-right: 1px solid #000;
}
 .shiftPolicy .second-tab {
	 width: 53%;
}
 .shiftPolicy .tabs, .shiftPolicy .Employee-list {
	 display: flex;
	 justify-content: space-between;
}
 .shiftPolicy .clear-button {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 29%;
}
 .shiftPolicy .search-bar {
	 position: relative;
	 display: flex;
	 align-items: center;
	 width: 25%;
	 margin: 10px 5px;
	 color: gray;
}
 .shiftPolicy .search-input, .shiftPolicy .search-input-second {
	 text-align: start;
	 width: 89%;
	 padding: 0px;
	 padding-left: 40px;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 font-size: 14px;
	 height: 35px;
	 outline: none;
}
 .shiftPolicy .search-icon, .shiftPolicy .cancel-icon {
	 color: gray;
	 position: absolute;
	 cursor: pointer;
}
 .shiftPolicy .qaf-search-bar .search-icon {
	 padding-top: 15px;
	 padding-left: 0px;
	 color: gray;
}
 .shiftPolicy .qaf-search-bar #firstCancelSearch {
	 display: none;
	 color: gray;
}
 .shiftPolicy .qaf-search-bar #secondCancelSearch {
	 display: none;
	 color: gray;
}
 .shiftPolicy .cancel-icon {
	 width: 10px;
	 right: 10px;
	 padding-top: 12px;
	 left: 39%;
	 top: 36.5%;
}
 .shiftPolicy .cancel-icon2 {
	 color: gray;
	 position: absolute;
	 cursor: pointer;
	 width: 10px;
	 right: 10px;
	 padding-top: 4px;
	 left: 87.5%;
	 top: 37.8%;
}
 .shiftPolicy .qaf-search-bar {
	 margin: 10px 0px;
}
 .shiftPolicy .selected-search {
	 margin-top: 0px;
	 width: 100%;
}
 .shiftPolicy .search-input-second {
	 /* width: 91%; */
}
 .shiftPolicy .policies-title {
	 font-size: 18px;
	 font-weight: 600;
	 margin: 10px 0px;
}
 .shiftPolicy .clear-All-btn {
	 border: none;
	 background-color: #fff;
	 cursor: pointer;
}
 .shiftPolicy .Employee-list {
	 padding: 10px 0px;
	 justify-content: space-between;
	 height: 35px;
	 align-items: center;
	 width: 91%;
}
 .shiftPolicy .second-tab-Employee {
	 width: 91%;
}
 .shiftPolicy .btnAction {
	 font-family: "Poppins", sans-serif;
	 font-size: 14px;
	 overflow-x: hidden;
	 padding: 0px 4px;
	 margin-right: 4px;
	 cursor: pointer;
	 height: 25px;
	 width: 25px;
	 border-radius: 50px;
	 border: none;
}
 .shiftPolicy .employee-name {
	 font-family: Poppins;
	 font-size: 16px;
	 font-weight: 600;
}
 .shiftPolicy .list-policyholder {
	 max-height: 375px;
	 overflow-y: auto;
	 padding-left: 0px;
	 border: none;
}
 .shiftPolicy .list-policyholder::-webkit-scrollbar {
	 width: 10px;
}
 .shiftPolicy .nodata {
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .shiftPolicy .search-icon-first {
	position: relative;
	top: 3px;
	 left: 0%;
}
 .shiftPolicy .search-icon-second {
	 /* left: 43%; */
	 position: relative;
	 top: 3px;
}
 .shiftPolicy .qaf-search-bar {
	transform: translate(-56px,0);
}
 .shiftPolicy select {
	 -webkit-appearance: none;
	 appearance: none;
	 appearance: none;
	 background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 15px center;
}
 .shiftPolicy .arrow {
	 background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat scroll right 15px center;
	 background-size: 11px;
}
 .shiftPolicy .left-conatiner {
	 width: 30%;
}
 .shiftPolicy .right-conatiner {
	 height: inherit;
	 width: 70%;
	 display: flex;
	 justify-content: end;
}
 .shiftPolicy .search-bar-report {
	 position: relative;
	 display: flex;
	 align-items: center;
	 width: 25%;
	 margin: 10px 5px;
	 color: gray;
	 margin-bottom: 15px;
}
 .shiftPolicy .input-report {
	 text-align: start;
	 width: 100%;
	 padding: 6px;
	 padding-left: 30px;
	 border: 1px solid gray;
	 border-radius: 4px;
	 font-size: 14px;
	 outline: none;
}
 .shiftPolicy .search-icon-report, .shiftPolicy .cancel-icon-report {
	 color: gray;
	 position: absolute;
	 cursor: pointer;
}
 .shiftPolicy .search-bar-report .fa-search {
	 padding-top: 15px;
	 padding-left: 10px;
	 color: gray;
	 margin-left: 1px;
	 margin-top: -13px;
}
 .shiftPolicy .search-bar-report #cancelSearch-report {
	 display: none;
	 color: gray;
}
 .shiftPolicy .cancel-icon-report {
	 right: 10px;
}
 .shiftPolicy .no-data {
	 width: 100%;
	 text-align: center;
	 font-size: 14px;
	 font-weight: 500;
}
 .shiftPolicy .page-disabled {
	 background: #fff;
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 z-index: 999;
	 display: none;
}
 .shiftPolicy .qaf-loader {
	 width: 48px;
	 height: 48px;
	 border: 5px solid #fff;
	 border-bottom-color: #ff7a59;
	 border-radius: 50%;
	 display: inline-block;
	 box-sizing: border-box;
	 animation: rotation 1s linear infinite;
}
 @keyframes rotation {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 .shiftPolicy .qaf-loader-div {
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 position: absolute;
	 left: 0%;
	 width: 100%;
	 top: 45vh;
}
 
.shiftPolicy .allocation-shifting{
	text-align: end;
}
.shiftPolicy #shfit-allocation-emp{
	transform: translate(0,3px);
}
.shiftPolicy .btnAction .fa-plus{
	transform: translate(0,1px);
}