.shiftPolicy{
.main-container {
    display: flex;
  }
  .container {
    width: 100%;
    margin: 0px;
  }
  p {
    font-size: 18px;
  }
  
  .tab-box {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 1;
    border-bottom: 2px solid rgb(235, 234, 234);
    /* margin-right: 25px; */
  }
  
  .tab-btn {
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
  }
  
  .tab-content {
    display: none;
    width: 100%;
    padding: 20px 0px;
    /* border: 1px solid #ddd; */
  }
  
  .tab-content.active {
    display: block;
  }
  /* for QAF Lite */
  .line {
    position: absolute;
    top: 59px;
    height: 2px;
    background-color: #311212;
    transition: all 0.3s ease-in-out;
  }
  
  .nodata {
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
  }
  
  .tab-content {
    display: none;
    animation: moving 0.5s ease;
  }
  .moving-left {
    animation: moving-left 0.5s;
  }
  
  .moving-right {
    animation: moving-right 0.5s;
  }
  
  @keyframes moving-left {
    from {
      transform: translateX(50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes moving-right {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .inner-sub-title {
    font-weight: 600;
  }
  
  /* TAble CSS */
  .table-data {
    border-radius: 4px;
    padding: 0;
  }
  /* .payroll-details {
    margin: 0px 20px 20px 20px;
  }
  .common-page-title {
    font-size: 18px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    padding: 0;
    margin-bottom: 5px;
  } */
  
  .pg-content {
    padding-top: 0px !important;
  }
  .payroll-details {
    margin: 60px 20px 20px 20px;
    padding-top: 10px;
  }
  .common-page-title {
    font-size: 18px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    padding: 0;
  }
  
  .tablecontainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    box-shadow: rgb(51, 51, 51) 0px 0px 3px 0px;
  }
  .add-btn {
    padding: 6px 12px;
    border-radius: 5px;
    margin-right: 4px;
    cursor: pointer;
    border: none;
  }
  
  .qaf-table {
    font-size: 13px;
    width: 100%;
    margin: 2px auto;
    border-collapse: collapse;
    background-color: #fff;
    overflow: hidden;
    font-weight: 400;
  }
  .qaf-tr,
  .qaf-td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    vertical-align: middle;
  }
  
  .qaf-th {
    height: 60px;
    padding: 12px 10px;
    text-align: left;
    word-wrap: break-word;
    min-width: 70px;
  }
  .qaf-td {
    height: 40px;
    padding: 0px 10px;
    text-align: left;
    word-wrap: break-word;
    min-width: 135px;
  }
  
  .qaf-th {
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  /* .table-container {
    overflow: scroll;
    box-shadow: rgb(51, 51, 51) 0px 0px 3px 0px;
  }
  
  .table-container::-webkit-scrollbar {
    height: 20px;
  } */
  
  .qaf-tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .tablecontainer {
    overflow-x: auto; /* Add this line */
    max-width: 100%; /* Add this line to limit the width */
    max-height: 72vh;
  }
  
  .tablecontainer::-webkit-scrollbar {
    height: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .qaf-th,
    .qaf-td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .sorted-button {
    padding: 0px 5px;
    display: none;
  }
  .qaf-th:hover .sorted-button {
    display: inline;
    cursor: pointer;
  }
  
  /* Form Styling */
  
  /* Search BAr */
  .header-title {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .left-container {
    width: 30%;
  }
  
  .right-container {
    height: inherit;
    width: 40%;
    display: flex;
    justify-content: end;
  }
  .qaf-search-bar {
    width: 100%;
  }
  
  .apply-input {
    margin: 0px 5px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid gray;
  }
  
  .cancel-icon {
    right: 10px;
  }
  
  .no-record {
    width: 100vw;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  
  .datefield {
    display: flex;
    margin: 0px 5px;
  }
  .add-btn {
    background-color: rgb(222, 91, 34);
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #009ce7;
    cursor: pointer;
  }
  
  .action-btn{
    display: flex;
  }
  
  .action-head,
  .action-cell {
    min-width: 1px;
  }
  .action-buttons {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    /* top: 100%; */
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 85px; /* Position the action buttons below the ellipsis button */
  }
  
  .action-buttons button {
    display: block;
    width: 100%;
    padding: 3px 8px;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    color: #2d2c2c;
  }
  
  .action-buttons button:hover{
    background-color:#f4f4f4f7;
  }
  
  .action-cell {
    position: relative; /* Ensure the action buttons are positioned relative to the cell */
  }
  
  .action-btn {
    width: 30px; /* Adjust width for vertical ellipsis button */
    height: 30px; /* Adjust height for vertical ellipsis button */
    padding: 0;
  }
  
  .action-btn {
    background-color: #fff;
    color: #ff7a59;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0px 10px 0px 10px;
  }
  
  /* Shift Assignment Styling */
  .form-container {
    padding: 0px;
  }
  .child-container {
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
    border-radius: 5px;
  }
  
  .qaf-form-group {
    margin-bottom: 10px;
  }
  
  .fs-label {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    font-family: Poppins;
    color: #333;
    transform: translate(0, 5px);
    font-weight: 600;
  }
  
  .qaf-form-group span.required {
    display: inline;
    vertical-align: bottom;
    color: #cc0000;
  }
  
  .fs-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
    color: #333;
  }
  
  .fs-select {
    margin-top: 3px;
  }
  
  .select-employee-tab {
    border: 1px solid black;
    height: 494px;
    display: flex;
    justify-content: space-between;
  }
  .first-tab,
  .second-tab {
    padding: 15px 0px 15px 15px;
    
  }
  .first-tab {
    width: 47%;
    border-right: 1px solid #000;
  }
  .second-tab {
    width: 53%;
  }
  .tabs,
  .Employee-list {
    display: flex;
    justify-content: space-between;
  }
  .clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
  }
  
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    margin: 10px 5px;
    color: gray;
  }
  
  .search-input,
  .search-input-second {
    text-align: start;
    width: 89%;
    padding: 0px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 35px;
    outline: none;
  }
  
  .search-icon,
  .cancel-icon {
    color: gray;
    position: absolute;
    cursor: pointer;
  }
  .qaf-search-bar .search-icon {
    padding-top: 15px;
    padding-left: 0px;
    color: gray;
  }
  .qaf-search-bar #firstCancelSearch {
    display: none;
    color: gray;
  }
  .qaf-search-bar #secondCancelSearch {
    display: none;
    color: gray;
  }
  
  .cancel-icon {
    width: 10px;
    right: 10px;
    padding-top: 12px;
    left: 39%;
    top: 34%;
  }
  
  .cancel-icon2 {
    color: gray;
    position: absolute;
    cursor: pointer;
    width: 10px;
    right: 10px;
    padding-top: 4px;
    left: 87.5%;
    top: 35%;
  }
  
  .qaf-search-bar {
    margin: 10px 0px;
  }
  
  .selected-search {
    margin-top: 0px;
    width: 100%;
  }
  .search-input-second {
    width: 91%;
  }
  
  .policies-title {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px;
  }
  .clear-All-btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .Employee-list {
    padding: 10px 0px;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    width: 91%;
  }
  
  .second-tab-Employee{
    width: 91%;
  }
  
  .btnAction {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    padding: 0px 4px;
    margin-right: 4px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: none;
  }
  .employee-name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
  }
  
  .list-policyholder {
    max-height: 375px;
    overflow-y: auto;
    padding-left: 0px;
    border: none;
  }
  
  .list-policyholder::-webkit-scrollbar {
    width: 10px;
  }
  
  .nodata {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-icon-first{
    left: 0%;
  }
  .search-icon-second{
    left: 43%;
  }
  
  select{
    -webkit-appearance: none;
    appearance: none;
    appearance: none;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
      no-repeat scroll right 15px center;
  }
  .arrow{
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat scroll right 15px center;
    background-size: 11px;
  }
  
  /* report Styling*/
  
  .left-conatiner {
    width: 30%;
  }
  
  .right-conatiner {
    height: inherit;
    width: 70%;
    display: flex;
    justify-content: end;
  }
  
  .search-bar-report {
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    margin: 10px 5px;
    color: gray;
  }
  
  .input-report{
    text-align: start;
    width: 100%;
    padding: 6px;
    padding-left: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
  }
  
  .search-icon-report,
  .cancel-icon-report {
    color: gray;
    position: absolute;
    cursor: pointer;
  }
  .search-bar-report .fa-search {
    padding-top: 15px;
    padding-left: 10px;
    color: gray;
    margin-left: 1px;
    margin-top: -13px;
  }
  .search-bar-report #cancelSearch-report{
    display: none;
    color: gray;
  }
  
  .cancel-icon-report {
    right: 10px;
  }
  
  .no-data {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  
  /* Loader */
  .page-disabled {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
  }
  .qaf-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff7a59;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .qaf-loader-div {
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0%;
    width: 100%;
    top: 45vh;
  }
}