.page {
  --qaf-grid-button-bg-color: var(--ButtonBackGroundColor);
  --qaf-grid-button-border-radius: 4px;
}
.displaynone{
  display: none;
}
.error-role{
  font-size: 14px;
  text-align: center;
}
    .qaf-btn-primary {
        margin-left: 8px;
        background-color: var(--qaf-grid-button-bg-color, #313CBF);
        border: none;
        color: var(--qaf-grid-button-color, #fff);
        padding: var(--qaf-grid-button-color, 8px 13px 8px 13px);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: var(--qaf-grid-button-font-size, 12px);
        border-radius: var(--qaf-grid-button-border-radius, 24px);
      }
.current-page-content{
  padding: 30px;
}
.common-page-title{
font-size: 18px;
font-family: inherit;
line-height: 1.1;
color: inherit;
padding: 0;
margin-bottom: 5px;
}
.section-wrapper{
padding: 8px 20px 8px 20px;
border: 1px solid #99939366;
border-radius: 4px;
}
.section-name {
font-family: inherit;
margin-top: 15px;
display: block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-bottom: 4px;
padding-bottom: 1px;
font-size: 18px;
font-weight: 500;
}
thead{
background: #f2f2f2;
}
thead tr{
height: 25px;
}
thead tr th{
  height: 15;
  padding-left: 8px;
  font-weight: 400;
  /* transform: translate(7px, -11px); */
}
tr td{
padding-left: 16px;
padding-top: 14px;
}
tr th{
padding-left: 16px;
padding-top: 14px;
}
table {
font-family: 'Poppins';
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.nested-table{
  padding: 0;
}
tbody {
  display: table-row-group;
  vertical-align: top;
  border-color: inherit;
}
.tab {
  overflow: hidden;
  font-family: 'Poppins';
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 400;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  border-bottom: 2px solid;
}
#formID{
  padding-left: 3px;
}

.tabcontent {
  display: none;
  padding:15px 0px 0 0;
  border-top: none;
}
#casForm label{
  margin-bottom: 0px;
}
.radionElement{
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 15px;
}
input[type=checkbox], input[type=radio]{
  margin: 1px 5px 0 0;
  cursor: pointer;
}
.round-head{
  width: 150px;
}
.header-main {
  display: none;
}
.current-page-content{
  margin-top: -60px;
}
.radioWrapper{
  display: flex;
  margin-bottom: 10px;
}
.radioWrapper:last-child{
  margin-bottom: 0;
}

/* non negotiable */
header {
  background-color: #ffffff;
  color: #565656;
  padding: 10px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
header i {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.title {
  font-size: 13px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.header-button {
  display: flex;
  justify-content: center;
}

.button {
  color: #fff;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  
}
.addjob {
  margin-right: 0px;
}
.fa-solid {
  padding: 0px 2px 0px 2px;
  margin-right: 0px;
  margin-left: 0px;
}


.tablecontainer{
  display: flex;
  justify-content:center;
  width: 100%;
}

table {
  font-size: 13px;
  width: 100%;
  margin: 2px auto;
  border-collapse: collapse;
  box-shadow: 0px 1px 5px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
}

.checklist-th, .checklist-td {
  width:50%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px;
  text-align: left;
}

.checklist-th {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.12);

}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 600px) {
.checklist-th, .checklist-td {
      display: block;
      width: 100%;
      box-sizing: border-box;
  }
}
.no-record-found{
text-align: center;
font-size: 15px;
}
.common-page-title {
font-size: 18px;
font-family: "Poppins";
line-height: 1.1;
color: black;
padding: 0;
margin-bottom: 0;
}

/* New Applied Css */
#casid{
margin-bottom: 15px;
}
.Hrchecklist{
margin-top: 20px;
}
.left-head-HrChecklist{
transform: translate(0px, -8px );

}
#button-submit{
  border-top: 1px solid #99939366;
    margin-top: 20px;
    padding-top: 15px;
    text-align: end;
}
.submit-button{
  position: absolute;
  bottom: -25px;
  right: 0;
}
#form{
  position: relative;
}
/*  */