.form-container {
    padding: 0px 20px 20px 20px;
  }
  .container {
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    border-radius: 5px;
  }
  
  .qaf-form-group {
    margin-bottom: 10px;
  }
  
  .fs-label {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    font-family: Poppins;
    color: #333;
    transform: translate(0, 5px);
    font-weight: 400;
  }
  
  .qaf-form-group span.required {
    display: inline;
    vertical-align: bottom;
    color: red;
  }
  
  .fs-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
    color: #333;
  }
  
  .fs-select {
    margin-top: 3px;
  }
  
  .main-tab {
    border: 1px solid rgb(234, 233, 233);
    height: 555px;
    display: flex;
    justify-content: space-between;
  }
  .left-tab-filter,
  .right-tab-grid {
    padding: 15px;
  }
  .header-title {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .left-tab-filter {
    /* max-height: 550px;
    overflow-y: auto; */
   padding: 0px;
  }
  
  .controls-tab{
    max-height: 470px;
    overflow-y: auto;
    padding:10px 10px 10px 15px;
  }
  
  .left-tab-filter {
    width: 30%;
    /* border: 1px solid rgb(234, 233, 233); */
    border-right: 1px solid rgb(234, 233, 233);
  
  }
  .left-tab-title{
    margin: 0px;
    height: 54px;
    border-bottom: 1px solid rgb(234, 233, 233);
    padding: 15px 15px 0px 15px !important;
  }
  .right-tab-grid {
    width: 70%;
  }
  .tabs,
  .Employee-list {
    display: flex;
    justify-content: space-between;
  }
  
  .list-policyholder::-webkit-scrollbar {
    width: 10px;
  }
  
  .nodata {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .qaf-column-field {
    width: 48%;
  }
  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .common-page-title {
    font-size: 18px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
  }
  .main-div {
    display: flex;
    flex-direction: column;
  }
  .control-label {
    display: flex;
    width: 100%;
  }
  .controls {
    display: flex;
    justify-content: space-between;
  }
  
  .header-buttons {
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
  }
  .cancel-page {
    border: none;
    color: #2c5cc5;
    font-weight: 600;
    font-size: 13px;
    background: #fff;
    padding: 0px;
  }
  
  .cancel-page i {
    margin-right: 10px;
  }
  
  .left-container {
    margin-bottom: 8px;
  }
  
  input[type="date"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
  }
  input[type="date"]:focus::-webkit-datetime-edit {
    color: black !important;
  }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blink {
    animation: blink 1s linear;
  }