
.page {
    --qaf-grid-button-bg-color: var(--ButtonBackGroundColor);
    --qaf-grid-button-border-radius: 4px;
  }
      .qaf-btn-primary {
          margin-left: 8px;
          background-color: var(--qaf-grid-button-bg-color, #313CBF);
          border: none;
          color: var(--qaf-grid-button-color, #fff);
          padding: var(--qaf-grid-button-color, 8px 13px 8px 13px);
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: var(--qaf-grid-button-font-size, 12px);
          border-radius: var(--qaf-grid-button-border-radius, 24px);
        }
        .qaf-grid__row-item{
            width: 96px;
            word-break: break-all;
        }
        .qaf-grid__header-item{
            width: 96px;
        }
        .page {
          display: flex;
          flex-direction: row;
          padding-top: 0px;
        }
    
        .page-nav .expense-app-links {
          position: fixed;
          height: 100%;
          padding: 8px 16px;
          background-color: #000;
          color: white;
          display: none;
        }
    
        .page-content {
          padding-top: 0px;
        }
    
        .expense-grid .qaf-btn-primary.nav-btns{
          font-size: 14px;
          border-radius: 4px;
          padding-bottom: 4px;
          padding-left: 6px;
          padding-right: 8px;
        }
    
        .expense-top, .expense-action, .expense-nav {
          display: flex;
          flex-direction: row;
          align-items: baseline;
        }
    
        .expense-action {
          margin-left: auto;
        }
    
        .expense-current-month,.expense-current-month-report {
          margin-left: 10px;
          font-size: 16px;
          font-weight: 600;
          min-width: 100px;
          text-align: center;
        }
  
        .expense-app-links-dt {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
  
        .expense-app-links-dt a.dashboard-App {
          text-decoration: none;
        }
      
      